#cim{
    position: fixed;
}
#footer{
    bottom: 0;
    position: absolute;
}

#AdiDassler{
    height: 270px;
}
.cardsor{
    height: 565px;
}
#samba{
    height: 425px;
}
.fotter-img{
    min-width: 10px;
}
body{
    background-color: rgba(247, 222, 139, 0.116);
}
#olimpialogo{
    height: 390px ;
}
#mez{
    height: 400px;
}