#cim{
    position: fixed;
}
#footer{
    bottom: 0;
    position: absolute;
}

#AdiDassler{
    height: 270px;
}
.cardsor{
    height: 565px;
}
#samba{
    height: 400px;
}
.fotter-img{
    min-width: 10px;
}
body{
    background-color: rgba(247, 222, 139, 0.116);
}
#olimpialogo{
    height: 390px ;
}
#mez{
    height: 400px;
}
.carouserh5{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.imgfix{
    height: 800;
    width: 480;
}
#box{
    vertical-align:middle;
}
.banner{
    margin-left: auto;
}
#imgtext{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 200px;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#banner{
    position: relative;;
}
.semmi{
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
}